*, *::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:#2D7DFF;
}

body {
    background: linear-gradient(220deg, rgba(189,0,255,1) 0%, rgba(0,163,255,1) 100%);
    height: 100vh;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 1em .5em;
    height: calc(100vh - 2em);
}

section {
    background: #221F26 url("img/background.jpg");
    background-blend-mode: screen;
    background-size: cover;
    background-position: -100px;
    height: 100%;
    padding: 2em;
}

nav {
    display: none;
}

.logo {
    color: var(--primary-color);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -.1em;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
}

header {
    display: flex;
}

.menu-btn {
    cursor: pointer;
}

h1 {
    font-size: clamp(2.5rem,-0.875rem + 8.333vw, 4rem);
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    line-height:89%
}

.cv {
    display:grid;
    place-items: center;
    height: 80%;
}

.content p {
    font-size: clamp(2rem, -0.875rem + 8.333vw, 3rem);
    font-weight: 300;
    line-height: 111%;
    color: #847D93;
    margin-top: 1.1em;
}

.cta {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
    margin-top:2.875em;
    display: inline-block;
    border: 1px solid #4D4D4D;
    /* padding:1.25em 1.25em 1.25em calc(2.5em + 1.5em); */
    padding: 1.25em 1.25em 1.25em calc(2.5em + 1.5em);
    position: relative;
}

.cta::before {
    content:"";
    position: absolute;
    background: url("img/arrow.svg") no-repeat;
    width: 1.5em;
    height: 1.5em;
    left: 1.25em;
}

.cta:hover {
    background: var(--primary-color);
}